beautifulsoup4==4.6.0
Click==7.0
cryptography==2.7
Django==2.2.2
django-bootstrap4==0.0.8
django-filter==2.1.0
djangorestframework==3.9.4
httplib2==0.18.0
jsonschema==3.0.1
numpy==1.16.4
requests==2.11.1
requests-toolbelt==0.7.0
requests-unixsocket==0.1.5

