{% extends 'caixa/base.html' %}
{% load static %}
{% block content %}
<div class="row">
<div class="col">
  <div class="card" style="margin-top: 2rem;">
    <div class="card-header bg-primary text-white">Execução do crawler</div>
    <div class="card-body">
      <form action="process" id="process" method="post">
        <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <select class="form-control" id="verify-select" name="contest">
            <option value="megasena">Megasena</option>
            <option value="lotofacil">Lotofácil</option>
            <option value="duplasena">Dupla Sena</option>
            <option value="loteca">Loteca</option>
            <option value="lotogol">Lotogol</option>
            <option value="quina">Quina</option>
            <option value="timemania">Timemania</option>
            <option value="lotomania">Lotomania</option>
            <option value="federal">Federal</option>
            <option value="diadesorte">Dia de sorte</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" id="load">Iniciar crawler</button>
      </form>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="margin-top: 2rem;">
    <div class="card-header bg-success text-white">Verificação da API</div>
    <div class="card-body">
      <form id="verify-form" method="get" action="api">
        <div class="row">
          <div class="form-group col">
            <select class="form-control" id="verify-select" name="contest">
              <option value="megasena">Megasena</option>
              <option value="lotofacil">Lotofácil</option>
              <option value="duplasena">Dupla Sena</option>
              <option value="loteca">Loteca</option>
              <option value="lotogol">Lotogol</option>
              <option value="quina">Quina</option>
              <option value="timemania">Timemania</option>
              <option value="lotomania">Lotomania</option>
              <option value="federal">Federal</option>
              <option value="diadesorte">Dia de sorte</option>
            </select>
          </div>
          <div class="col">
            <div class="form-group">
              <input class="form-control" placeholder="Parâmetro" name="nro" value="last" />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Verificar arquivos</button>
      </form>
    </div>
  </div>
</div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Instruções de uso</div>
      <div class="card-body">
        <h5>Execução do Crawler</h5>
        O crawler executa apenas uma consulta ao site da Caixa. Você pode atualizar os 
        dados diáriamente, eles serão armazenados
        no banco de dados para futuras necessidades.
        Para executar basta escolher a loteria desejada e clicar em "Iniciar Crawler", 
        se existirem novos dados no site da Caixa, eles serão atualizados no sistema.

        <br> <br> 
        <h5>API</h5>
        Existe apenas um endpoint e ele receberá apenas dois parâmetros:
        <ul>
          <li><strong>constest:</strong> Indica qual sorteio desejado </li>
          <li><strong>nro:</strong> Pode ser "last" ou o número do sorte, no caso do "last", ele retornará o último registro no sistema</li>
        </ul>
        <br>
        <strong>Exemplo:</strong>
        <br>
        <code>
            api?contest=megasena&nro=2156
        </code>
        <br>
        Retorna os dados do concurso 2156 da mega sena. O retorno é Json.

        <br>
        <strong>Exemplo:</strong>
        <br>
        <code>
            api?contest=megasena&nro=last
        </code>
        <br>
        Retorna os dados do último concurso da mega sena. O retorno é Json.

      </div>
    </div>
  </div>
</div>


{% endblock %}
